html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

:root {
  --beige: #CEA075;
  --beige-light: #FEE8D4;
  font-family: Montserrat, sans-serif;
}

.header-wrap {
  max-width: 1051px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.wide-wrap {
  max-width: 1051px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.content-wrap {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.content-wrap.__no_padding {
  padding: 0;
}

.lk_top .bold_heading {
  margin-top: 33px;
}

.lk_top .long_nav {
  margin-top: 35px;
}

.admin-wrap {
  max-width: 1058px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.admin-wrap.__relative {
  position: relative;
}

.admin-wrap.__no_padding {
  padding: 0;
}

.transparent_btn {
  background: none;
  border: none;
  padding: 0;
}

.logo {
  color: var(--beige);
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.logo.__white {
  color: #FFF;
}

.dropdown_wrap {
  max-width: 160px;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}

.dropdown_wrap .dropdown_btn {
  width: 100%;
  background: #FFF;
  color: #474A3D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 13px;
  text-align: left;
  border: 1px solid #B8B8B8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown_wrap .contents_outer {
  position: relative;
}

.dropdown_wrap .contents {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.dropdown_wrap .contents .option {
  padding-right: 0;
}

.dropdown_wrap .contents .option:hover {
  background: #FEE8D4;
}

.dropdown_wrap .contents_outer.__shown .contents {
  display: block;
}

.dropdown_wrap.__hide_selected .contents .option.__selected {
  display: none;
}

.dropdown_wrap .contents.__open {
  display: block;
}

header {
  padding-top: 21px;
  padding-bottom: 16px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header .msg_icon {
  height: 25px;
  width: 25px;
}

header .right {
  display: flex;
  align-items: center;
}

header .msg {
  text-decoration: none;
}

header .phone {
  color: #474A3D;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

header .messangers {
  display: flex;
  gap: 20px;
  margin-left: 17px;
  margin-right: 33px;
}

header .exit {
  color: var(--beige);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.long_nav {
  border-radius: 30px;
  background: #B8B8B8;
  width: fit-content;
  display: flex;
  gap: 25px;
  margin-left: 2px;
}

.long_nav .nav_btn {
  background: none;
  border: none;
  padding: 10px 20px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
}

.long_nav .nav_btn.__active {
  color: #474A3D;
  background: #FEE8D4;
}

.bold_heading {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.beige_btn {
  border-radius: 30px;
  background: var(--beige);
  padding: 9px 24px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  width: fit-content;
  box-sizing: border-box;
  border: none;
}

.beige_btn:disabled {
  background: #B8B8B8;
  cursor: not-allowed;
}

a.beige_btn {
  display: block;
  text-decoration: none;
}

.beige_btn.__white {
  background: #FFF;
  border: 2px solid var(--beige);
  color: var(--beige);
}

.user_home_top {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 33px;
}

.user_home_top .btns {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.user_home_top .btns .beige_btn {
  width: 100%;
}

.user_home_top .long_nav {
  margin-top: 35px;
}

.empty_text {
  color: #B8B8B8;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 410px;
  margin-left: 90px;
  margin-top: 52px;
}

.mobile_menu {
  background-color: #FFF;
  width: calc(100% - 30px);
  max-width: 345px;
  height: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.mobile_menu_wrap.__animate_in .mobile_menu {
  transform: translateX(0);
}

.mobile_menu .topper {
  background-color: var(--beige);
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 18px;
  box-sizing: border-box;
}

.mobile_menu .main_links {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.mobile_menu .main_links .link {
  color: var(--beige);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.mobile_menu .main_links .link .icon {
  height: 35px;
  width: 35px;
}

.mobile_menu .phone {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.mobile_menu .messangers {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 36px;
}

.mobile_menu .messangers .msg_icon {
  height: 35px;
  width: 35px;
}

.mobile_menu .contents {
  padding: 29px 19px;
  padding-bottom: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mobile_menu .exit {
  color: #CEA075;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

.mobile_menu .bottom {
  margin-top: auto;
}

.mobile_menu_wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

.mobile_menu_wrap .mask {
  background: rgba(71, 74, 61, 0.85);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.mobile_menu_wrap.__animate_in {
  pointer-events: all;
}

.mobile_menu_wrap.__animate_in .mask {
  opacity: 1;
}

.open_mobile_menu {
  display: none;
}

.form_topper {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form_topper.__hidden {
  display: none;
}

.form_dialog {
  padding: 32px 35px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  margin-top: 35px;
  display: none;
}

.form_dialog.__first {
  margin-top: 0;
}

.form_dialog.__shown {
  display: block;
}

.form_title {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.radio_wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.radio_wrap .radio_circle {
  border: 2px solid #FEE8D4;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.radio_wrap .radio_circle .point {
  height: 8px;
  width: 8px;
  background-color: #CEA075;
  border-radius: 100%;
  display: none;
}

.radio_wrap .radio_label {
  color: #474A3D;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.radio_wrap .radio_input {
  display: none;
}

.radio_wrap .radio_input:checked + .radio_circle .point {
  display: block;
}

.radio_wrap .radio_input:checked + .radio_circle {
  border: 2px solid #CEA075;
}

.radio_wrap .radio_input:checked ~ .radio_label {
  font-weight: 600;
  color: #CEA075;
}

.radio_wrap .radio_input:checked + .checkbox_box {
  background: #CEA075;
  border: 1px solid #CEA075;
}

.radio_wrap .radio_input:checked + .checkbox_box .check {
  display: block;
}

.form_dialog .form_options, .courier_return .form_options {
  display: grid;
  margin-left: 55px;
  grid-template-columns: 200px 1fr;
  gap: 74px;
  margin-top: 28px;
}

.courier_return .form_options {
  margin-left: 0;
  margin-top: 36px;
}

.request_info {
  padding: 11px 35px;
  background: #FFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  margin-top: 39px;
}

.form_wrap .request_info {
  display: none;
}

.form_wrap .request_info.__shown {
  display: block;
}

.request_info .topper {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
}

.request_info .return_info {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.request_info .return_info strong {
  font-weight: 600;
}

.request_info .boxes .return_info {
  line-height: normal;
}


.form_dialog .form_options_flex {
  display: flex;
  gap: 28px;
  margin-top: 28px;
  margin-left: 55px;
}

.form_wrap .form_next {
  margin-top: 48px;
}

.form_wrap .form_next.__hidden {
  display: none;
}

.form_steps .form_step {
  display: none;
  gap: 16px;
  cursor: pointer;
}

.form_steps .form_step.__shown {
  display: flex;
}

.form_steps .form_step .step_text {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.form_steps .form_step .step_text .bold {
  font-weight: 600;
}

.form_steps .form_step .icon {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.form_dialog .form_content {
  margin-left: 56px;
  margin-right: 56px;
}

.time_block .time_slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.time_block .time_slots .time_slot_btn {
  background: none;
  border-radius: 5px;
  border: 1px solid #B8B8B8;
  padding: 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.time_block .time_slots .time_slot_btn.__active {
  border: 2px solid #CEA075;
  color: #CEA075;
  font-weight: 600;
}

.checkbox_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox_wrap .checkbox_input {
  display: none;
}

.checkbox_wrap .checkbox_box, .radio_wrap .checkbox_box {
  width: 20px;
  height: 20px;
  border: 1px solid #B8B8B8;
  background: #FEE8D4;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.checkbox_wrap .checkbox_box .check, .radio_wrap .checkbox_box .check {
  height: 12px;
  width: 12px;
  object-fit: contain;
  display: none;
}

.checkbox_wrap .checkbox_label {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkbox_wrap .checkbox_input:checked + .checkbox_box {
  background: #CEA075;
  border: 1px solid #CEA075;
}

.checkbox_wrap .checkbox_input:checked + .checkbox_box .check {
  display: block;
}

.checkbox_wrap .checkbox_input:checked ~ .checkbox_label {
  color: #CEA075;
  font-weight: 600;
}

.form_dialog .form_fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 36px;
}

.form_dialog .form_fields.__4 {
  grid-template-columns: repeat(4, 1fr);
}

.form_dialog .form_fields .form_input {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #B8B8B8;
  background: #FEE8D4;
  padding: 9px 25px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.form_dialog .form_fields input::-webkit-outer-spin-button,
.form_dialog .form_fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form_dialog .form_fields input[type=number] {
  -moz-appearance: textfield;
}

.form_dialog .form_fields .form_input:focus {
  outline: 1px solid #CEA075;
}

.form_dialog .form_fields .form_input::placeholder {
  color: #B8B8B8;
}

.form_dialog .form_fields .form_input.__wide {
  grid-column: 1/3;
}

.form_dialog .form_fields.__4 .form_input.__wide {
  grid-column: 1/5;
}

.form_wrap .text {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form_wrap .text .bold {
  font-weight: 600;
}

.form_dialog .box_edit {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.form_dialog .box_edit .icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.form_dialog .box_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}

.legal_text {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 20px;
}

.form_wrap .legal_text {
  display: none;
}

.legal_text.__shown {
  display: block;
}

.legal_text .inline_link {
  color: #CEA075;
}

.form_wrap .box_input .box_add {
  margin-top: 40px;
}

.form_wrap .form_dialog.__box_add .form_title {
  margin-bottom: 29px;
}

.form_wrap .form_steps {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 33px;
}

.form_wrap {
  margin-top: 40px;
}

.form_wrap .terminal_info {
  margin-top: 28px;
  display: none;
}

.form_wrap .terminal_info.__shown {
  display: block;
}

.form_wrap .terminal_info .map_wrap {
  width: 100%;
  height: 437px;
  margin-top: 15px;
}

.form_wrap .terminal_info .text:first-child {
  margin-bottom: 8px;
}

.form_wrap .form_submit {
  margin-top: 53px;
  display: none;
}

.form_wrap .form_submit.__shown {
  display: block;
}

.date_wrap {
  display: grid;
  grid-template-columns: 1fr 84px;
  align-items: center;
  position: relative;
}

.date_wrap .date_slider {
  max-width: 100%;
}

.date_wrap .nav .arrow {
  height: 84px;
  width: 84px;
  object-fit: contain;
}

.date_wrap .nav.prev {
  position: absolute;
  z-index: 1;
  background-color: #FFF;
  display: none;
}

.date_wrap .nav.prev .arrow {
  transform: rotate(180deg);
}

.date_wrap .date_btn {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #B8B8B8;
  background: #FFF;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date_wrap .date_btn.__active {
  border: 2px solid #CEA075;
  color: #CEA075;
  font-weight: 600;
}

.form_wrap .date_block {
  margin-top: 29px;
}

.courier_return .main_text {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.courier_return .main_text strong {
  font-weight: 700;
}

.courier_return {
  margin-top: 33px;
}

.courier_return .long_nav {
  margin-top: 35px;
  margin-bottom: 30px;
}

.courier_return .form_topper {
  margin-bottom: 25px;
}

.request_info .boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.request_info .boxes .box_name {
  color: #CEA075;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}

.request_info .boxes .box .checkbox_wrap {
  margin-bottom: 6px;
}

.request_info .boxes .box .checkbox_wrap .checkbox_label {
  color: #CEA075;
  font-weight: 600;
}

.courier_return .date_block {
  margin-top: 33px;
}

.courier_return .submit {
  margin-top: 30px;
}

.form_wrap .long_nav {
  margin-top: 35px;
  margin-bottom: 30px;
}

.user_return {
  margin-top: 33px;
}

.user_return .long_nav {
  margin-top: 35px;
}

.admin-wrap .top_bar .orders_fitlers {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.admin-wrap .top_bar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.admin-wrap .top_bar .admin_search {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #B8B8B8;
  background: #FFF;
  padding: 5px 13px;
  max-width: 160px;
  box-sizing: border-box;
  outline: none;
}

.admin-wrap .top_bar .admin_search::placeholder {
  color: #B8B8B8;
}

.admin_orders .grid {
  display: grid;
  grid-template-columns: 160px 180px 260px 1fr;
  gap: 8px;
}

.admin_orders .topper {
  margin-top: 20px;
  padding: 13px 12px;
  box-sizing: border-box;
  border-top: 1px solid #B8B8B8;
  border-bottom: 1px solid #B8B8B8;
}

.admin_orders .topper .text {
  color: #CEA075;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.admin_orders .text {
  color: #474A3D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.admin_orders .box_wrap, .admin_orders .box_inner_wrap {
  display: grid;
  grid-template-columns: 345px 270px 1fr;
  gap: 0 4px;
  align-items: center;
}

.admin_orders .box_wrap {
  margin-bottom: 10px;
}

.admin_orders .box_inner_wrap {
  grid-column: 1/4;
}

.admin_orders .box_wrap.__storage {
  background: #FFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  padding: 5px 8px;
  padding-bottom: 7px;
  padding-right: 70px;
  margin-left: -8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0px;
}

.admin_orders .box_wrap.__storage .box_top {
  display: flex;
  gap: 60px;
  width: 100%;
}

.admin_orders .box_wrap.__storage .toggle_box {
  position: absolute;
  padding: 10px;
  right: 50px;
  top: 28px;
  cursor: pointer;
  display: flex;
}

.admin_orders .box_wrap.__storage.__closed .toggle_box {
  top: 3px;
  transform: rotate(180deg);
}

.admin_orders .box_wrap.__storage.__closed {
  grid-template-columns: 100px 1fr;
}

.admin_orders .boxes_initial .box_wrap.__storage.__closed .box_topper {
  grid-column: 1;
}

.admin_orders .box_wrap.__storage.__closed .box_status_final {
  margin-top: 0;
}

.admin_orders .box_wrap.__storage.__closed .box_btn {
  display: none;
}

.admin_orders .boxes_initial {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.admin_orders .boxes_initial .box_topper {
  display: none;
  flex-shrink: 0;
}

.admin_orders .boxes_initial .box_topper.__shown {
  display: block;
}

.admin_orders .boxes_initial .box_btn {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #CEA075;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
}

.admin_orders .boxes_initial .box_btn.__spot {
  margin-top: 15px;
}

.admin_orders .boxes_initial .box_btn.__added {
  color: #474A3D;
  font-weight: 400;
}

.admin_orders .boxes_initial .box_btn.__added .preview {
  border: 2px dashed #474A3D;
}

.admin_orders .boxes_initial .box_btn .preview {
  width: 15px;
  height: 15px;
  padding: 3px;
  border: 2px dashed #CEA075;
  object-fit: cover;
}

.admin_orders .boxes_initial .box_btn:disabled {
  color: #B8B8B8;
  cursor: not-allowed;
}

.admin_orders .boxes_initial .box_img_input {
  display: none;
}

.admin_orders .boxes_initial .box_img_input:disabled + .box_img_btn {
  color: #B8B8B8;
  cursor: not-allowed;
}

.admin_orders .boxes_initial .box_img_input:disabled + .box_img_btn .preview {
  border: 2px dashed #B8B8B8;
  filter: grayscale(100%);
}

.admin_orders .boxes_initial .box_btn:disabled .preview {
  border: 2px dashed #B8B8B8;
  filter: grayscale(100%);
}

.admin_orders .bold_info {
  font-weight: 600;
}

.admin_orders .text .bold_info {
  display: none;
}

.admin_orders .order_box {
  padding: 15px 11px;
  padding-right: 59px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  background-color: #FFF;
  position: relative;
}

.admin_orders .order_box .toggle_order {
  position: absolute;
  right: 39px;
  top: 7px;
  padding: 10px;
  cursor: pointer;
}

.admin_orders .order_box .text.__details {
  display: none;
}

.admin_orders .order_box.__open .text.__details {
  display: block;
}

.admin_orders .order_box.__open {
  /* padding-bottom: 38px; */
}

.admin_orders .order_box .status {
  display: none;
  padding-top: 25px;
  margin-bottom: 33px;
}

.admin_orders .order_box.__open .status.__shown {
  display: block;
}

.admin_orders .order_box.__open .expand_icon {
  transform: rotate(180deg);
}

.admin_orders .order_box.__open .text .bold_info {
  display: inline;
}

.admin_orders .order_box .bottom {
  display: none;
}

.admin_orders .order_box.__open .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 7px;
  /* margin-bottom: 25px; */
}

.admin_orders .order_box.__open .bottom:has(.beige_btn:not(.__hidden)) {
  margin-bottom: 25px;
}

.admin_orders .order_box.__open .bottom .text {
  margin-top: 22px;
}

.admin_orders .orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.admin_orders .dialog_btn.__hidden {
  display: none;
}

.admin_orders .order_box.__open .bottom_btns {
  margin-top: 35px;
  margin-bottom: 5px;
}

.admin_orders .order_box .bottom_btns.__hidden {
  display: none;
}

.admin_orders .order_box .bottom_btns .bottom_btn.__hidden {
  display: none;
}

.admin_orders .order_box .hidden_block {
  display: none;
}

.admin_orders .order_box.__open .hidden_block {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(71, 74, 61, 0.85);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.popup.__shown {
  opacity: 1;
  pointer-events: all;
}

.popup.__block {
  display: block;
}

.popup .scanner {
  background-color: #FFF;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
}

.popup .scanner .select_wrap {
  border: 1px solid #B8B8B8;
  background: #FFF;
  display: grid;
  grid-template-columns: 1fr 10px;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 5px 13px;
  width: 100%;
  max-width: 250px;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.popup .scanner .select_wrap .expand_icon {
  flex-shrink: 0;
}

.popup .scanner .select_wrap .option {
  max-width: 100%;
  text-overflow: ellipsis;
}

.popup .scanner .viewport {
  min-height: 120px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #B8B8B8;
}

.popup .scanner .controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.popup .scanner .controls .text {
  font-size: 16px;
}

.popup .scanner .controls .close {
  margin-left: auto;
}

.viewport.__error .status_img.__wait {
  display: none;
}

.status_img.__error {
  /* color: var(--error-col); */
  display: none;
}

.viewport.__error .status_img.__error {
  display: block;
}

.popup .scanner .select {
  -webkit-appearance: none;
  background: #FFF;
  border: none;
  color: #474A3D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%;
  text-overflow: ellipsis;
}

.popup .float_buttons {
  position: absolute;
  right: 10px;
  top: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.popup .float_buttons .beige_btn {
  padding: 4px 16px;
  font-size: 16px;
  height: 30px;
}

.popup .float_buttons .replace {
  display: none;
}

.popup .float_buttons .replace.__shown {
  display: block;
}

.popup .float_buttons .close {
  height: 30px;
  cursor: pointer;
}

.popup .float_buttons .close .icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.popup.__img_preview .preview_wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.popup.__img_preview .preview {
  object-fit: contain;
  max-height: 650px;
  max-width: 650px;
  width: 100%;
  height: 100%;
  margin-top: 160px;
}

.admin_orders .order_box .box_status_final {
  margin-top: 8px;
  display: none;
}

.admin_orders .order_box .box_status_final.__shown {
  display: block;
  margin-top: 0;
}

.admin_orders .box_wrap.__storage .box_inner_wrap .box_img_btn {
  grid-column: 2/4;
}

.popup .code_outer {
  display: flex;
  justify-content: center;
}

.popup .code_wrap {
  background: #FFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  padding: 40px 90px;
  padding-bottom: 80px;
}

.popup .code_wrap {
  color: #474A3D;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popup .code_wrap .digit_wrap {
  display: flex;
  gap: 20px;
}

.popup .code_wrap .digit_wrap .digit {
  border-radius: 5px;
  border: 1px solid #B8B8B8;
  background: #FEE8D4;
  width: 70px;
  height: 100px;
  flex-shrink: 0;
  color: #474A3D;
  text-align: center;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popup .code_wrap .digit_wrap .digit::-webkit-outer-spin-button,
.popup .code_wrap .digit_wrap .digit::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup .code_wrap .digit_wrap .digit[type=number] {
  -moz-appearance: textfield;
}

.admin_orders .order_box .box_inner_wrap .box_status_final {
  margin-top: 8px;
}

.admin_orders .boxes_initial .box_btn.delete_box {
  margin-top: 0;
  font-size: 14px;
  grid-column: 2;
  grid-row: 1;
}

.admin_orders .boxes_initial .box_btn.delete_box .icon {
  height: 12px;
  width: 12px;
}

.admin_orders .box_wrap .box_top {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 5px;
  align-items: center;
}

.admin_orders .boxes_initial .box_inner_wrap .box_btn.__wide {
  grid-column: 2/4;
  grid-row: 1;
}

.admin_orders .box_wrap .box_number_wrap {
  display: none;
}

.admin_orders .box_wrap .box_number_wrap.__shown {
  display: inline;
}

.admin_orders .boxes_initial .box_btn.delete_box.__hidden {
  display: none;
}

.admin_orders .boxes_initial .box_btn .box_status.__hidden {
  display: none;
}

.admin_orders .box_wrap .box_top .delete_box {
  font-size: 14px;
  font-weight: 600;
  color: #CEA075;
  text-align: left;
  cursor: pointer;
}

.admin_orders .box_wrap .box_top .delete_box.__hidden {
  display: none;
}

.admin_orders .box_inner_wrap .box_img_btn {
  grid-column: 2/4;
}


.admin_orders .box_inner_wrap:has(.box_status_final.__shown) .box_img_btn {
  grid-column: 2;
}

@media (max-width: 980px) {
  .user_home_top {
    display: flex;
  }

  .user_home_top .btns {
    display: none;
  }

  header .left {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  header .right {
    display: none;
  }

  .open_mobile_menu {
    display: block;
  }

  .mobile_menu_wrap {
    display: block;
  }
}

@media (max-width: 897px) {
  .lk_top.content-wrap .bold_heading {
    margin-left: 17px;
  }

  .lk_top.content-wrap .long_nav {
    margin-left: 17px;
  }
}

@media (max-width: 1075px) {
  .lk_top.admin-wrap .bold_heading {
    margin-left: 17px;
  }

  .lk_top.admin-wrap .long_nav {
    margin-left: 17px;
  }
}

@media (max-width: 900px) {
  .admin_orders .hide_mobile {
    display: none;
  }

  .admin_orders .grid {
    gap: 5px;
    grid-template-columns: 100px 110px 1fr;
  }

  .admin_orders .order_box.__open .grid {
    gap: 20px 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  .admin_orders .order_box.__open .bottom {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-top: 20px;
  }

  .admin_orders .order_box.__open .hide_mobile {
    display: block;
  }

  .admin_orders .order_box.__open .text.__properties {
    grid-column: 1/3;
  }

  .admin_orders .order_box {
    padding: 10px;
  }

  .admin_orders .order_box .toggle_order {
    top: 2px;
    right: 0;
  }

  .admin_orders .topper .text {
    font-size: 16px;
  }

  .admin_orders .text {
    font-size: 16px;
  }

  .admin-wrap .top_bar {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .admin-wrap .top_bar .admin_search {
    font-size: 16px;
    padding: 12px 10px;
  }

  .dropdown_wrap .dropdown_btn {
    padding: 12px 10px;
    font-size: 14px;
  }

  .dropdown_wrap {
    flex-shrink: 1;
  }
}

@media (max-width: 800px) {
  .wide-wrap {
    padding-left: 17px;
    padding-right: 17px;
  }

  .long_nav {
    background: none;
    gap: 10px;
    overflow-x: auto;
    max-width: 100%;
    border-radius: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .long_nav::-webkit-scrollbar {
    display: none;
  }

  .user_home_top .left {
    width: 100%;
    overflow-x: hidden;
  }

  .long_nav .nav_btn {
    background: #B8B8B8;
    flex-shrink: 0;
  }

  .empty_text {
    margin-left: 0;
  }

  .user_home_top {
    padding: 0;
    margin-top: 24px;
  }

  .user_home_top .bold_heading {
    margin-left: 17px;
  }

  .long_nav .nav_btn:first-child {
    margin-left: 17px;
  }

  .long_nav .nav_btn:last-child {
    margin-right: 17px;
  }

  .form_dialog .form_options, .courier_return .form_options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 0;
    margin-top: 25px;
  }

  .form_dialog {
    padding: 13px 5px;
    padding-bottom: 20px;
    margin-top: 27px;
  }

  .form_dialog .form_options_flex {
    flex-direction: column;
    gap: 32px;
    margin-left: 0;
  }

  .radio_wrap .radio_circle {
    height: 30px;
    width: 30px;
  }

  .radio_wrap .radio_circle .point {
    height: 15px;
    width: 15px;
  }

  .checkbox_wrap .checkbox_box, .radio_wrap .checkbox_box {
    height: 35px;
    width: 35px;
  }

  .checkbox_wrap .checkbox_box .check, .radio_wrap .checkbox_box .check {
    height: 21px;
    width: 21px;
  }

  .form_dialog .form_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .form_dialog .form_fields .form_input {
    padding: 5px 15px;
  }

  .form_dialog .form_fields.__4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form_dialog .form_fields.__4 .form_input.__wide {
    grid-column: 1/3;
  }

  .form_dialog .form_content {
    margin-left: 0;
    margin-right: 0;
  }

  .time_block .time_slots .time_slot_btn {
    padding: 12px 8px;
    font-size: 14px;
  }

  .form_topper {
    font-size: 24px;
  }

  .form_topper br {
    display: none;
  }

  .courier_return .long_nav {
    margin-left: -20px;
    max-width: unset;
    width: calc(100% + 40px);
  }

  .courier_return .form_topper {
    margin-bottom: 8px;
  }

  .courier_return .main_text {
    font-size: 18px;
  }

  .request_info {
    padding: 11px 5px;
    margin-top: 30px;
  }

  .request_info .boxes .box_name {
    font-size: 18px;
  }

  .content-wrap-mobile-escape {
    margin-left: -20px;
    width: calc(100% + 40px);
    max-width: unset;
  }

  .user_return .long_nav {
    margin-top: 27px;
  }

  .user_return {
    margin-top: 24px;
  }

  .form_wrap .form_steps {
    margin-top: 11px;
  }

  .form_wrap .form_next {
    margin-top: 15px;
  }

  .form_wrap .terminal_info {
    margin-top: 30px;
  }

  .form_wrap .terminal_info .map_wrap {
    margin-top: 22px;
  }

  .form_wrap .form_submit {
    margin-top: 25px;
  }

  .form_wrap {
    margin-top: 24px;
  }

  .lk_top.content-wrap .long_nav,  .lk_top.admin-wrap .long_nav{
    margin-left: 0px;
  }

  .lk_top .long_nav {
    margin-top: 27px;
  }

  .lk_top .bold_heading {
    margin-top: 24px;
  }

  .logo {
    font-size: 28px;
  }

  .popup .code_wrap {
    padding: 40px 15px;
    padding-bottom: 110px;
  }

  .popup .code_wrap .digit_wrap .digit {
    font-size: 50px;
    width: 60px;
    height: 80px;
    box-sizing: border-box  ;
  }

  .popup .code_wrap .digit_wrap {
    gap: 10px;
  }

  .popup .code_wrap {
    font-size: 24px;
  }
}

@media (max-width: 850px) {
  .popup .scanner {
    /* height: 100%; */
    width: 100%;
    max-height: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .popup .scanner .controls .text {
    font-size: 14px;
  }

  .popup .scanner .select {
    font-size: 14px;
  }

  .popup .scanner .select_wrap {
    padding: 12px 10px;
  }

  .admin_orders .box_wrap {
    display: grid;
    grid-template-columns: 100px 1fr;
    flex-direction: column;
    gap: 20px 5px;
    align-items: flex-start;
  }

  .admin_orders .order_box.__open .bottom_btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .admin_orders .boxes_initial .box_topper {
    grid-column: 1;
  }

  .admin_orders .order_box .box_status_final {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }

  .admin_orders .boxes_initial .box_btn {
    grid-column: 1/3;
  }

  .popup.__img_preview .preview {
    max-width: 350px;
    max-height: 350px;
  }

  .admin_orders .boxes_initial .box_btn .preview {
    height: 21px;
    width: 21px;
    padding: 5px;
  }

  .admin_orders .box_wrap.__storage {
    gap: 0px;
    padding-right: 20px;
  }

  .admin_orders .box_wrap.__storage .toggle_box {
    right: 0;
    top: 5px;
  }

  .admin_orders .box_wrap.__storage .box_top {
    gap: 20px;
  }

  .admin_orders .box_wrap {
    margin-bottom: 0px;
  }

  .admin_orders .box_inner_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 650px) {
  .time_block .time_slots {
    grid-template-columns: repeat(3, 1fr);
  }

  .dropdown_wrap {
    max-width: 100%;
  }
}

@media (max-width: 460px) {
  .admin-wrap .top_bar .orders_fitlers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .time_block .time_slots {
    grid-template-columns: repeat(2, 1fr);
  }

  .popup .code_wrap .digit_wrap .digit {
    font-size: 40px;
    width: 40px;
    height: 55px;
    box-sizing: border-box  ;
  }

  .popup .code_wrap .digit_wrap {
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .admin_orders .box_wrap.__storage .box_top {
    flex-direction: column;
    gap: 5px;
  }
}
